@model string
<html ng-app>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <title>College Registration</title>
        <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap/bootstrap-slate.min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-2.0.3.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>