@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:450px">
        <div class="panel panel-info" style="margin-top:30px; margin-left:20px">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-4"><h3 class="panel-title">Real Time Chat</h3></div>
                </div>
            </div>
    
            <div class="panel-body" >
                <div class="scrollable">
                    
                </div>
                <div>
                    <input class="form-control input-sm pull-left" style="width:80%" type="text" placeholder="chat message" />
                    <button class="pull-right btn btn-primary btn-sm">Send</button>
                </div>
                
            </div>
        </div>
    </div>