@model string
<html ng-app>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <title>Hello {{1+1}} you</title>
    </head>
    <body>
        @RenderBody()
    </body>
</html>